.feature {
    padding-top: 30px;
    background: #f8f9fb;
    &-group {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    &-content{
        background: white;
        width: 23%;
        text-align: center;
    }
    &-image {}
    &-title{
        width: 64%;
        margin-left: 43px;
        color: #5f6e9d;
    }
    &-head{
        color: #f07f51;
        text-align: center;
        letter-spacing: 6px;
    }
}
